body {
    font-family: Arial, sans-serif;
    background-image: url('food.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.426); /* Black with some transparency */
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1.5s ease-in-out;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff; /* White font color */
}

header p {
    font-size: 1.2em;
    color: #ddd; /* Light gray for readability */
    margin-bottom: 30px;
}

main p {
    font-size: 1.1em;
    color: #ccc; /* Light gray for readability */
    margin-bottom: 20px;
}

button {
    font-size: 1.2em;
    color: #fff;
    background-color: #ff6347;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Responsive Design */
@media (max-width: 768px) {
    
    .container {
        padding: 30px;
        max-width: 90%;
    }

    header h1 {
        font-size: 2em;
    }

    main p {
        font-size: 1em;
    }

    button {
        font-size: 1em;
        padding: 8px 16px;
    }
}